<h1>Login</h1>
<!-- Here the flash is going to save a messages variable and passport is going to send an error message using error -->
<% if (messages.error){ %>
    <%= messages.error %>
<% } %>
<form action="/login" method="POST">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required="true">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required="true">
    </div>
    <button type="submit">Login</button>
</form>
<a href="/register">Register</a>
